/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Section Styles */
section {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.bookFormInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 10px;
}

label {
    margin-bottom: 0px;
    font-weight: 300;
}

input[type="text"],
input[type="number"],
input[type="checkbox"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

/* Button Styles */
button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Header Background Colors */
h1 {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h2 {
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

hr {
    border: 3px solid #ccc
}

/* Responsive Design */
@media (max-width: 600px) {
    section {
        margin: 10px;
        padding: 15px;
    }

    button {
        width: 100%;
    }
}
